doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
  body
    h1 David A Hines
    div.nav_links
      ul.nav_ul
        li.nav_li
          a.nav_link(href="/") Home
        li.nav_li
          a.nav_link(href="https://github.com/davidahines") Github
        li.nav_li
          a.nav_link(href="https://twitter.com/davidahines") Twitter
        li.nav_li
          a.nav_link(href="https://stackoverflow.com/users/383986/davidahines") Stack Overflow
        li.nav_li
          a.nav_link(href="https://www.linkedin.com/in/david-hines-31363822/") LinkedIn
        li.nav_li
          a.nav_link(href="/about") About
    block content
